<div class="container form-signin">
  <div class="col-12 justify-content-center">
    <h1 class="h3 mb-3 font-weight-normal">Registration form</h1>

    <div class="row col-4">
      <label class="sr-only">Email address</label>
      <input #email (blur)="verifyEmail(email)" [(ngModel)]=user.email type="email" class="form-control" placeholder="Email address"/>
      <div style="color: red" class="error" *ngIf="isEmailValid === false">Email already registered</div>
    </div>

    <div class="row col-4">
      <label for="inputPassword" class="sr-only">Password</label>
      <input #password [(ngModel)]=user.password type="password" id="inputPassword" class="form-control" placeholder="Password"/>
    </div>

    <div class="row col-4">
      <label class="sr-only">Repeat Password</label>
      <input type="password" id="verifiedPassword" class="form-control" placeholder="Repeat Password"/>
    </div>

    <button [disabled]="isEmailValid" class="btn btn-lg btn-primary btn-block ml-5 mt-3 col-4" (click)="createUser()">Register</button>

  </div>
</div>
